* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #f8f8f8;
}

/* Navbar */
.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 40px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #1f4d3a;
}

/* Center Links */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #1f4d3a;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.6;
}

/* Right Side */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right input {
  border: none;
  border-bottom: 1px solid #1f4d3a;
  outline: none;
  padding: 4px;
}

.nav-right a {
  text-decoration: none;
  color: #1f4d3a;
  font-size: 14px;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding: 20px;
}

.mobile-menu a {
  padding: 10px 0;
  text-decoration: none;
  color: #1f4d3a;
  border-bottom: 1px solid #eee;
}

/* Responsive */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu.active {
    display: flex;
  }
}
//Hero section styling starts from here

.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

/* Slides */
.slider {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

/* Images */
.slide img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* Overlay Content */
.overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 20px;
}

.overlay button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.overlay button:hover {
  background: black;
  color: white;
}

/* Controls */
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 28px;
  }

  .overlay p {
    font-size: 14px;
  }
}
